[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-fugitive"]
  path = vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-go"]
  path = vim/bundle/vim-go
  url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-airline"]
  path = vim/bundle/vim-airline
  url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/YouCompleteMe"]
  path = vim/bundle/YouCompleteMe
  url = https://github.com/Valloric/YouCompleteMe.git
[submodule "fonts"]
  path = fonts
  url = https://github.com/powerline/fonts.git
[submodule "tmux/plugins/maglev"]
  path = tmux/plugins/maglev
 url = https://github.com/caiogondim/maglev.git
[submodule "tmux/plugins/tmux-battery"]
  path = tmux/plugins/tmux-battery
  url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "tmux/plugins/tmux-continuum"]
  path = tmux/plugins/tmux-continuum
  url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/plugins/tmux-copycat"]
  path = tmux/plugins/tmux-copycat
  url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/plugins/tmux-cpu"]
  path = tmux/plugins/tmux-cpu
  url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule "tmux/plugins/tmux-open"]
  path = tmux/plugins/tmux-open
  url = https://github.com/tmux-plugins/tmux-open.git
[submodule "tmux/plugins/tmux-pain-control"]
  path = tmux/plugins/tmux-pain-control
  url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "tmux/plugins/tmux-resurrect"]
  path = tmux/plugins/tmux-resurrect
  url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-sensible"]
  path = tmux/plugins/tmux-sensible
  url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-yank"]
  path = tmux/plugins/tmux-yank
  url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git
